<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="connStr" connectionString="server=192.168.0.179;database=haoxinglin;uid=sa;pwd=123;"/>
  </connectionStrings>
  <appSettings>
    <!--微信开放平台-->
    <add key="AppID" value="wx0728575dc031ff17" />
    <add key="AppSecret" value="7ce75f47460f1c111bc6658fc4d8449c" />
    <add key="Domain" value="http://www.haoxinglin.com" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>